<div class="filter-container">
  <div class="tab">
    <button class="tablinks" (click)="isVeg(true)">Veg</button>
    <button class="tablinks" (click)="isVeg(false)">NonVeg</button>
  </div>

  <div class="mt-10">
    <label for="price-range">Max Price Range</label>
    <input id="price-range" type="range" min="{{min_price}}" max="{{max_price}}" [(ngModel)]="price_range" (change)="onPriceRangeChanged()">
    <span>{{price_range ? 'Rs: ' + price_range : '' }}</span>
  </div>

  <div class="mt-10">
    <label for="pizza-base">Pizza Base</label>
    <select id="pizza-base" (ngModelChange)="onSelectPizzaBase($event)" [(ngModel)]="pizza_base">
      <option *ngFor="let pizza_base_item of pizza_base_list" value="{{pizza_base_item.value}}">{{pizza_base_item.title}}</option>
    </select>
  </div>

  <div class="mt-10">
    <label for="pizza-type">Pizza Type</label>
    <select id="pizza-type" (ngModelChange)="onSelectPizzaType($event)" [(ngModel)]="pizza_type">
        <option *ngFor="let pizza_type_item of pizza_type_list" value="{{pizza_type_item.value}}">{{pizza_type_item.title}}</option>
    </select>
  </div>
</div>
