<div>
  <h2>{{pizza && pizza.pizza_title? pizza.pizza_title: ''}}</h2>

  <ul>
    <li>{{pizza && pizza.pizza_base? pizza.pizza_base.title: ''}}</li>
    <li>{{pizza && pizza.pizza_type? pizza.pizza_type.title: ''}}</li>
    <li>{{pizza && pizza.pizza_veg? 'VEG': 'NON-VEG'}}</li>
  </ul>
  <span>{{'Rs: '+ pizza.pizza_price +'/-'}}</span>
  <button>Add</button>
</div>
