<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-2">
    <app-pizza-selector (filterValue)="filterChanged($event)"></app-pizza-selector>
  </div>
  <div class="col-md-9">
    <app-pizza-list [filterValue]="filterValue"></app-pizza-list>
  </div>
</div>
